/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


.rainbow{
  width: 30%;
  height: 35px;
  margin-top: 2%;
  border-radius: 5px;
  border: none;
  /* height: 80%; */
}
.rainbow:hover{
  background: #12cbc4;
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  color: white;
  font-weight: bold;
}

.signup{
  margin-top: 0;
  margin-bottom: 5%;
}

.form-group input,
.form-row input{
	border:0;
	height:50px;
	border-radius:0;
  border-bottom:1px solid lightgrey;
  margin-bottom: 5%;
}
.form-group input:focus,
.form-row input:focus{
  border-bottom:1px solid #007bff;
  box-shadow:none;
  outline:0;
  background-color:#ebebeb;
}

.checkboxlabel{

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
